In [2]:
import pandas as pd

raw_df = pd.read_csv("D:/AI-marketing-optimization/data/raw/Advertising Budget and Sales.csv"
                     )
raw_df.head()

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
0,1,230.1,37.8,69.2,22.1
1,2,44.5,39.3,45.1,10.4
2,3,17.2,45.9,69.3,9.3
3,4,151.5,41.3,58.5,18.5
4,5,180.8,10.8,58.4,12.9

In [8]:
df = raw_df.copy()
df = df.drop(columns=["Unnamed: 0"])

df = df.rename(columns={
    "TV Ad Budget ($)": "display_ads",
    "Radio Ad Budget ($)": "social_ads",
    "Newspaper Ad Budget ($)": "affiliate_ads",
    "Sales ($)": "GMV"
})

In [9]:
df["week"] = pd.date_range(
    start = "2022-01-02",
    periods = len(df),
    freq = "W"
)

In [10]:
df = df.sort_values("week")
df.head()

   display_ads  social_ads  affiliate_ads   GMV       week
0        230.1        37.8           69.2  22.1 2022-01-02
1         44.5        39.3           45.1  10.4 2022-01-09
2         17.2        45.9           69.3   9.3 2022-01-16
3        151.5        41.3           58.5  18.5 2022-01-23
4        180.8        10.8           58.4  12.9 2022-01-30

In [13]:
df.to_csv(
    "D:/AI-marketing-optimization/data/cleaned/mmm_eda_ready.csv",
    index=False
)